.earth {
    strong,h2, h3 {
        color: var(--earth)
    }

    .moon {
        display: flex;

        .table {
            flex: 1 0 55%;
            padding-right: 0;
        }

        img {
            max-width: 100%;
        }
    }

    .icon-head {
        /* align-items: center; */
        justify-content: center;

        i {
            color: var(--earthDark);
            font-size: max(60px, 4.5vw);
        }

        h2 {
            margin-bottom: 0;
        }
    }

    #life {
        margin: 0 60px 60px 60px;
    }
}