.uranus {
    strong,h2, h3 {
        color: var(--uranus);
    }

    img {
        max-width: 100%;
    }

    .sunlight {
        margin-top: 60px;
        align-items: center;

        .around {
            flex: 1 1 60%;
            width: 60%;

            
        }
        & > .glass-box {
            height: fit-content;
        }

    }

    #rings {
        .glass-box {
            flex: 1 1 60%
        }

        img {
            max-width: 70%;
        }

        .img-hold-ring {
            flex: 1 1 40%
        }
    }

}